
.file-area {
  width: 100% !important;
  position: relative;
  
  input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .file-dummy {
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.37);
    border: 1px dashed rgba(78, 78, 78, 0.2);
    text-align: center;
    font-weight: bold;
    color: #27ae60;
    transition: background 0.3s ease-in-out;
    
    .success {
      display: none;
    }
  }
  
  &:hover .file-dummy {
    background: rgba(255,255,255,0.1);
  }
  
  input[type=file]:focus + .file-dummy {
    outline: 1px solid rgba(255,255,255,0.5);
    outline: -webkit-focus-ring-color auto 5px;
  }
  
  input[type=file]:valid + .file-dummy {
    border-color: #27ae60;
    background-color: rgb(255, 255, 255);

    .success {
      display: inline-block;
    }
    .default {
      display: none;
    }
  }
}


.btn-upload{
   padding: 1rem 3rem;
   background-color: #2ecc71;
   border-color: #2ecc71;
}
.btn-upload:hover{
   background-color: #27ae60;
   border-color: #27ae60;
}
.btn-upload:focus,.btn-upload:active {
   outline: none !important;
   box-shadow: none !important;
   background-color: #27ae60 !important;
   border-color: #27ae60 !important;
}
.test{
  width: 100vh;
  height: 100vw ;
  background: #27ae60;
  position: absolute !important;
}