@font-face {
  font-family: 'Eina';
  src: local('Eina 03 Bold'),
       url('../fonts/eina/eina-03-bold.woff2') format('woff2'),
       url('../fonts/eina/eina-03-bold.woff') format('woff'),
       url('../fonts/eina/eina-03-bold.ttf') format('ttf'),
       url('../fonts/eina/eina-03-bold.eot?#iefix') format('eot');
  font-weight: 700;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Eina';
  src: local('Eina 03 SemiBold'),
       url('../fonts/eina/eina-03-semibold.woff2') format('woff2'),
       url('../fonts/eina/eina-03-semibold.woff') format('woff'),
       url('../fonts/eina/eina-03-semibold.ttf') format('ttf'),
       url('../fonts/eina/eina-03-semibold.eot?#iefix') format('eot');
  font-weight: 600;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Eina';
  src: local('Eina 03 Regular'),
       url('../fonts/eina/eina-03-regular.woff2') format('woff2'),
       url('../fonts/eina/eina-03-regular.woff') format('woff'),
       url('../fonts/eina/eina-03-regular.ttf') format('ttf'),
       url('../fonts/eina/eina-03-regular.eot?#iefix') format('eot');
  font-weight: 400;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Avenir';
  src: local('bold'),
       url('../fonts/avenir/bold.woff2') format('woff2'),
       url('../fonts/avenir/bold.woff') format('woff'),
       url('../fonts/avenir/bold.ttf') format('ttf'),
       url('../fonts/avenir/bold.eot?#iefix') format('eot');
  font-weight: bold;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Avenir';
  src: local('demi'),
       url('../fonts/avenir/demi.woff2') format('woff2'),
       url('../fonts/avenir/demi.woff') format('woff'),
       url('../fonts/avenir/demi.ttf') format('ttf'),
       url('../fonts/avenir/demi.eot?#iefix') format('eot');
  font-weight: 700;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Avenir';
  src: local('medium'),
       url('../fonts/avenir/medium.woff') format('woff'),
       url('../fonts/avenir/medium.ttf') format('ttf'),
       url('../fonts/avenir/medium.eot?#iefix') format('eot');
  font-weight: 500;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Avenir';
  src: local('regular'),
       url('../fonts/avenir/regular.woff') format('woff'),
       url('../fonts/avenir/regular.ttf') format('ttf'),
       url('../fonts/avenir/regular.eot?#iefix') format('eot');
  font-weight: normal;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Avenir';
  src: local('thin'),
       url('../fonts/avenir/thin.woff2') format('woff2'),
       url('../fonts/avenir/thin.woff') format('woff'),
       url('../fonts/avenir/thin.ttf') format('ttf'),
       url('../fonts/avenir/thin.eot?#iefix') format('eot');
  font-weight: 200;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Avenir';
  src: local('ultralight'),
       url('../fonts/avenir/ultralight.woff') format('woff'),
       url('../fonts/avenir/ultralight.ttf') format('ttf'),
       url('../fonts/avenir/ultralight.eot?#iefix') format('eot');
  font-weight: 100;
  unicode-range: U+000-5FF;
}