@import "./assets/css/fonts.css";

a {
  font-weight: 400;
}
a:hover {
  text-decoration: none;
  color: #3498db;
}
.icons {
  color: #2ecc71;
  margin-left: 3px;
}
.material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.push-down {
  padding-top: 8rem;
}
.push-down-auth {
  padding-top: 4rem;
}
.btn {
  font-weight: 400;
  border-radius: 3px;
}
input[type="text"] {
  padding: 1.5rem 1rem;
  border-width: 2px;
  border-radius: 2px;
}
.form-control {
  border-color: rgba(0, 0, 0, 0.322);
  border-radius: 0;
  color: #2c3e50;
}
.form-control:focus,
.form-control:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: #34495e !important;
  border-width: 2px;
}
.text-wrapper {
  padding: 2rem 0px !important;
}
.form-footer {
  margin-top: 2rem;
}
.checkbox span {
  margin-left: 10px;
  color: #999999;
}

.react-overlay-loader-spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -30px;
  margin-left: -20px;
  border-radius: 50%;
  border: 3px solid #eee;
  border-top-color: rgb(0, 209, 122) !important;
  animation: react-overlay-loader-spinner 0.8s linear infinite;
}
